@use '../commons/var.scss' as *;

.about-product {
	display: flex;
	align-items: flex-start;
}

.about-product__title {
	margin: 0;
	margin-right: auto;
	width: 100%;
	max-width: 515px;
}

/* маска заголовка */
.about-product__title-line {
	display: block;
	overflow: hidden;
	line-height: 120%;
}

.about-product__title-text {
	display: block;
	transform: translateY(100%);
}

.about-product__text {
	margin: 0;
	width: 100%;
	max-width: 763px;

	font-family: $basic-family;
	font-weight: 400;
	font-size: 20px;
	line-height: 124%;
	color: $text-main-muted;

	&:last-child {
		margin-bottom: 0;
	}

	opacity: 0;
	transform: translateY(50px);
	will-change: transform, opacity;

	&:not(:last-child) {
		margin-bottom: 25px; // Чтобы абзацы не слипались
	}
}
