@use '../commons/var.scss' as *;

.button {
	position: relative;
	margin: 0;
	padding: 14px 11px 15px;
	border: none;
	border-radius: 4px;

	background-color: var(--theme-btn-bg, #{$bg-secondary});
	transition: background-color 0.4s ease;

	cursor: pointer;
}

.button__line {
	position: absolute;
	left: 11px;
	right: 11px;
	display: block;
	width: 28px;
	height: 2px;

	background-color: var(--theme-btn-line-bg, #{$text-main});
	transition: background-color 0.4s ease;
}

.button__line--top {
	top: 16px;
}

.button__line--middle-1,
.button__line--middle-2 {
	top: 23px;
}

.button__line--bottom {
	top: 30px;
}
