@use '../commons/var.scss' as *;

.consultation {
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.consultation__content-wrapper {
	margin-right: auto;
	padding-top: 120px;
	padding-bottom: 40px;
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	gap: 40px;
	color: $text-inverse;
}

.consultation__title {
	margin: 0;
	margin-bottom: 40px;
	color: $text-inverse;
}

/* маска */
.consultation__title-line {
	display: block;
	overflow: hidden;
	line-height: 120%;
}

.consultation__title-text {
	display: block;
	transform: translateY(100%);

	@media (prefers-reduced-motion: reduce) {
		transform: none;
	}
}

.consultation__text {
	margin: 0;
	padding-right: 50px;
	font-family: $basic-family;
	font-weight: 400;
	font-size: clamp(16px, 1.2vw, 20px);
	line-height: 124%;
	color: $text-inverse-muted;

	opacity: 0;
	transform: translateY(30px);
	will-change: transform, opacity;

	@media (prefers-reduced-motion: reduce) {
		opacity: 1;
		transform: none;
	}
}

/* маска */
.consultation__button-line {
	display: block;
	overflow: hidden;
	margin-top: auto;
}

.consultation__button {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	margin-top: auto;
	padding-left: 65px;
	width: 242px;
	height: 45px;
	display: flex;
	justify-content: flex-end;
	align-items: center;

	font-family: $secondary-family;
	font-weight: 700;
	font-size: 22px;
	line-height: 100%;
	text-transform: uppercase;
	background-color: inherit;
	color: $text-inverse;

	transform: translateY(100%);
	will-change: transform;

	cursor: pointer;

	@media (prefers-reduced-motion: reduce) {
		transform: none;
	}
}

.consultation__button::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);

	width: 50px;
	height: 45px;
	border-radius: 4px;
	background-color: $bg-secondary;

	background-image: url('../../assets/images/footer/logo.svg');
	background-size: 27px 20px;
	background-repeat: no-repeat;
	background-position: center;
}

.consultation__picture-wrap {
	overflow: hidden;
	display: block;

	flex-grow: 1;
	max-width: 960px;
	width: 100%;
}

.consultation__picture {
	display: block;

	width: 100%;
	height: auto;
	object-fit: cover;

	opacity: 0;
	transform: scale(1.15);
	will-change: transform, opacity;

	@media (prefers-reduced-motion: reduce) {
		opacity: 1;
		transform: none;
	}
}
