@use '../commons/var.scss' as *;

.footer-page {
	padding-bottom: 100dvh;
	background-color: $bg-primary;
}

.footer-page__consultation {
	margin: 0 auto;
	padding: 0;
	padding-left: clamp(40px, 10vw, 187px);
	width: 100%;
	max-width: 1920px;
}
