@use '../commons/var.scss' as *;

.hero__title {
	margin: 0;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
}

/* контейнер-маска */
.hero__title-line {
	display: block;
	overflow: hidden; /* скрываю заголовок */
	line-height: 130%;
}

.hero__title-text {
	display: block;
	transform: translateY(100%); /* скрытый заголовок сдвинут вниз */
}

.hero__text {
	margin: 0;
	width: 100%;
	max-width: 607px;
	font-family: $basic-family;
	font-weight: 400;
	font-size: 18px;
	line-height: 124%;
	color: $text-inverse-muted;
	margin-bottom: clamp(40px, 5vw, 100px);

	/* для анимации появления */
	opacity: 0;
	transform: translateY(40px);
	will-change: transform, opacity;
}
