@use '../commons/var.scss' as *;

.main-container {
	background-color: $bg-secondary;
	color: $text-main;
}

.main-container__about-product {
	margin: 0 auto;
	padding-top: 140px;
	padding-bottom: 140px;
	padding-left: clamp(40px, 10vw, 187px);
	padding-right: clamp(40px, 10vw, 187px);
	width: 100%;
	max-width: 1920px;
}
