@use '../commons/var.scss' as *;

.secondary-title {
	font-family: $secondary-family;
	font-weight: 500;
	font-size: clamp(32px, 3vw, 45px);
	line-height: 130%;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: $text-main;
}

.secondary-title--accent {
	display: inline-block;
	margin-right: 20px;
	font-style: italic;
}
