@use '../commons/var.scss' as *;

.title {
	font-family: $secondary-family;
	font-weight: 500;
	font-size: clamp(40px, 5vw, 75px);
	text-transform: uppercase;
	color: $text-inverse;
	line-height: 130%;
	letter-spacing: -0.02em;
}

.title--accent {
	font-style: italic;
	letter-spacing: -0.03em;
}
